streamlit
langchain==0.2.14
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers==2.7.0
faiss-cpu
transformers==4.41.2
huggingface-hub==0.23.5
pypdf
unstructured
python-docx
pandas
dotenv